extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-6 
                img(src="img/nosotros.jpg", alt="img nosotros" class="img-fluid")
            .col-md-6
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim sagittis eros nec rutrum. calass aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel lobortis eros. Mauris et sem in ligula iaculis dapibus vitae ut neque. 
                    | naull fermentum massa sed erat eleifend eleifend. Nunc ut nunc et nulla luctus pharetra ac sit amet leo. Ut id tellus vestibulum, tempus sem at, fermentum magna.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim sagittis eros nec rutrum. 
                    |   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel lobortis eros. Mauris et sem in ligula iaculis dapibus vitae ut neque. Nulla fermentum massa sed erat eleifend eleifend. 
                    |   Nunc ut nunc et nulla luctus pharetra ac sit amet leo. Ut id tellus vestibulum, tempus sem at, fermentum magna.


    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim sagittis eros nec rutrum. 
                        |   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel lobortis eros. Mauris et sem in ligula iaculis dapibus vitae ut neque. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim sagittis eros nec rutrum. 
                        |   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel lobortis eros. Mauris et sem in ligula iaculis dapibus vitae ut neque. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim sagittis eros nec rutrum. 
                        |   Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vel lobortis eros. Mauris et sem in ligula iaculis dapibus vitae ut neque. 

